rgt-R.tex
rgt-R.Rproj
rgt-R.docx
rgt-R.html
rgt-R.md
rgt-R.pdf
rgt-R.aux
rgt-R.lof
rgt-R.log
rgt-R.lot
rgt-R.out
rgt-R.toc
rgt-R_files/
data/
cache/
.vimrc
.zshrc
sudoku_apple.pdf
preamble.tex
library.bib
